@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@import "../css/responsive.css";

* {
  margin: 0;
  padding: 0;
  /* font-family: "Baloo 2", cursive; */
  font-family: "Roboto", cursive;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --inti: #252732;
  --inti2: #bf95d9;
  --nav: #252732;
  --inti4: #bf95d9;
  --font: #f8f8f2;
  --pfont: #f8f8f2;
  --ppfont: #e8f8f2;
  --black: #000000;
  --white: #fff;
  --bg-btn: #506cba;
}
/* body  */
body {
  min-height: 100vh;
  background: var(--inti);
  overflow-x: hidden;

  /* color: var(--inti2); */
}
/* img {
  width: 100%;
} */
.btn:focus {
  box-shadow: none !important;
}
.btn:active {
  outline: 0 !important;
  background: none !important;
  color: none !important;
}
.container-blog {
  width: 100%;
  margin: 0 auto;
}
.container-content-blog {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 150px;
}
