@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* @import "../css/register.css"; */
/* @import "../css/navbar.css"; */
/* @import "../css/login.css"; */
/* @import "../css/landingPage.css"; */
@import "../css/responsive.css";

* {
  margin: 0;
  padding: 0;
  /* font-family: "Baloo 2", cursive; */
  font-family: "Roboto", cursive;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --inti: #e6e6e6;
  --inti2: #53c0f3;
  --inti3: #fff;
  --inti4: #53c0f3;
  --font: #40454d;
  --pfont: #707174;
  --ppfont: #98999c;
  --black: #000000;
  --white: #fff;
}
/* body  */
body {
  min-height: 100vh;
  background: var(--inti);
  overflow-x: hidden;

  /* color: var(--inti2); */
}
/* img {
  width: 100%;
} */
.btn:focus {
  box-shadow: none !important;
}
.btn:active {
  outline: 0 !important;
}
.container-blog {
  width: 80%;
  margin: 0 auto;
}
.container-content-blog {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
