/* .header-blog-title-and-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 12px;
} */
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

/* .each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
} */
.box-banner {
  display: block;
  padding: 0px 75px;
}
.title-banner {
  color: var(--font-banner);
  font-size: 40px;
  font-weight: 700;
}
.action-banner {
  display: flex;
  align-items: center;
}
.action-banner span {
  color: var(--font);
  font-size: 16px;
  font-weight: 400;
}
.titik-bulet {
  padding: 5px;
  border-radius: 10px;
  background: var(--font);
  margin: 0 10px;
}
.btn-banner {
  background: transparent;
  display: flex;
  padding: 10px 20px;
  border: 1px solid #7879f1;
  border-radius: 12px;
  color: #7879f1;
}
.content-section {
  border-radius: 12px;
  padding: 10px;
  background: var(--secunder);
  margin-top: 20px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input-section {
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 12px;
  border: transparent;
  color: var(--pfont);
}
.filter-input-dawd {
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 12px;
  border: transparent;
  color: var(--pfont);
  margin-right: 10px;
}
.theme-input-dawd {
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 12px;
  border: transparent;
  color: var(--pfont);
  margin-right: 10px;
  font-size: 13px;
}
.btn-filter {
  background: var(--primary);
  color: var(--font);
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 13px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.filter-dwada {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-content-blob-category {
  margin-top: 30px;
  background: var(--secunder);
  padding: 20px;
  border-radius: 12px;
}
.box-content-blob {
  border-radius: 12px;
  margin-top: 30px;
  padding: 20px;
  border-bottom: 2px solid var(--pfont);
  background: var(--secunder);
}
.author-post {
  display: flex;
  align-items: center;
}
.author-post img {
  margin-right: 5px;
}
.name-dw {
  font-size: 16px;
  font-weight: 600;
  color: var(--font);
}

.title-post {
  font-size: 30px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--font);
}

.image-post {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.description-post {
  font-size: 14px;
  text-align: justify;
  color: var(--pfont);
}
.time-detail-dwd {
  font-size: 15px;
  color: var(--pfont);
}
.category-dad {
  padding: 4px;
  background: var(--bg-btn);
  color: var(--font);
  border-radius: 10px;
}
.box-blog-post-dawd {
  overflow: hidden;
}
.p-kategory-daw {
  font-size: 18px;
  color: var(--font);
  font-weight: 600;
}
label.form-check-label {
  color: var(--pfont);
  font-size: 16px;
}
.btn-more-kdawd {
  margin: 6px 0;
  background: var(--inti2);
  color: var(--font);
}
.btn-more-kdawd:hover {
  background: var(--pfont);
  color: var(--bg-btn);
}
.btn-pagination-dwadw {
  display: flex;
  border: 0;
  padding: 7px 15px;
  border-radius: 19px;
  margin-right: 10px;
  color: var(--pfont);
}
.btn-pagination-dwadw:active {
  background: var(--inti2);
  color: var(--font);
}
.btn-pagination-dwadw:hover {
  background: var(--inti2);
  color: var(--font);
}
.btn-pagination-dwadw:focus {
  background: var(--inti2);
  color: var(--font);
}
.btn-pagination-dwadw:focus-visible {
  background: var(--inti2);
  color: var(--font);
}
.btn-pagination-dwadw:focus-visible {
  background: var(--inti2);
  color: var(--font);
}

.btn-pagination-dwadw.active-wdwd {
  background: var(--inti2);
  color: var(--active-nav);
}
.position-dial-dwd {
  position: fixed;
  bottom: 0;
  right: 0;
}
.action-dwad {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  color: var(--pfont);
  padding: 5px 20px;
}
.sum-action-dwad {
  font-size: 12px;
  color: rgb(109, 109, 109);
}
.action-dw {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.box-post-list {
  position: relative;
}
