.box-content-blob {
  padding: 15px 0;
}
.author-post {
  display: flex;
  align-items: center;
}
.author-post img {
  margin-right: 5px;
}
.name-dw {
  font-size: 16px;
  font-weight: 600;
  color: var(--font);
}

.title-post {
  font-size: 28px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
  color: var(--font);
}
.image-post img {
  width: 100%;
  height: 150px;
}
.description-post {
  line-height: 20px;
  font-size: 16px;
  text-align: justify;
  color: var(--pfont);
}
.time-detail-dwd {
  font-size: 15px;
  color: var(--pfont);
}
.category-dad {
  padding: 4px;
  background: var(--bg-btn);
  color: var(--white);
  border-radius: 10px;
}
.box-blog-post-dawd {
  overflow: hidden;
}
.p-kategory-daw {
  font-size: 18px;
  color: var(--pfont);
  font-weight: 600;
}
label.form-check-label {
  color: var(--pfont);
  font-size: 16px;
}
.btn-more-kdawd {
  margin: 6px 0;
  background: var(--inti2);
  color: var(--white);
}
.btn-more-kdawd:hover {
  background: var(--pfont);
  color: var(--bg-btn);
}
.btn-pagination-dwadw {
  display: flex;
  border: 0;
  padding: 7px 15px;
  border-radius: 19px;
  margin-right: 10px;
  background: var(--white);
  color: var(--inti2);
}
.btn-pagination-dwadw:active {
  background: var(--inti2);
  color: var(--white);
}
.btn-pagination-dwadw:hover {
  background: var(--inti2);
  color: var(--white);
}
.btn-pagination-dwadw:focus {
  background: var(--inti2);
  color: var(--white);
}
.btn-pagination-dwadw:focus-visible {
  background: var(--inti2);
  color: var(--white);
}
.btn-pagination-dwadw:focus-visible {
  background: var(--inti2);
  color: var(--white);
}

.btn-pagination-dwadw.active-wdwd {
  background: var(--inti2);
  color: var(--white);
}
.position-dial-dwd {
  position: fixed;
  bottom: 0;
  right: 0;
}
.action-dwad {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  padding: 5px 20px;
}
