.bg-hasj {
  min-height: 100vh;
}
.container-cssdw {
  padding: 50px;
}
.pdwd-title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: var(--font);
  margin-bottom: 50px;
}
.img-login {
  max-width: 100%;
}
.pdwd-title-sign-in {
  font-size: 30px;
  font-weight: 700;
  color: var(--font);
  margin-top: 50px;
  margin-bottom: 20px;
}
.label-costum {
  font-size: 14px;
  color: var(--font);
}
.btn-custom {
  background: var(--prim);
  color: var(--font);
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.btn-custom:active {
  background: var(--pfont);
  color: none !important;
  background-color: none !important;
  border-color: none !important;
}
.btn-custom:hover {
  background: var(--pfont);
  color: var(--font);
}
.btn-custom:focus {
  background: var(--pfont);
}
.btn-custom:focus-visible {
  background: var(--pfont);
  color: none !important;
  background-color: none !important;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.jjdwd {
  font-size: 14px;
  font-weight: 400;
  color: var(--font);
}
.error-custom {
  margin-top: 10px;
  /* background: #ffb4b4; */
  border-radius: 6px;
  padding: 3px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #fc3c3c;
}
.pdwd-image {
  text-align: center;
}
.form-custom {
  background: transparent;
  color: var(--font);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid var(--pfont);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
}
.form-control:focus {
  color: var(--pfont) !important;
  background-color: transparent !important;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.form-control:focus-visible {
  outline: none;
  border: 1px solid var(--font);
}
