header {
  height: 70px;
  background: var(--secunder);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* border-radius: 0 0 10px 10px; */
}
.profile {
  display: none;
}
.logo {
  width: 120px;
  margin-right: 8px;
  color: var(--font);
}
.logo img {
  width: 100%;
}
.nav-content .logo {
  display: none;
}

.nav-content ul {
  display: flex;
  margin-bottom: 0;
}
li {
  display: flex;
  align-items: center;
}
.nav-content ul li .nav-link-custom {
  color: var(--pfont);
  margin: 0 2px;
  font-weight: 400;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  text-decoration: none;
  font-size: 13px;
}
.nav-content ul li .nav-link-custom:focus-visible {
  outline: 2px solid var(--font);
}
.nav-content ul li .nav-link-custom.active {
  color: var(--active-nav);
}
.nav-content ul li .nav-link-custom:hover {
  color: var(--active-nav);
}
.hambur {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.hambur:hover {
  background: var(--inti4);
  color: var(--font);
}
.hambur div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: var(--font);
}
/* check  */
@media only screen and (max-width: 1100px) {
  .container-blog {
    width: 100%;
  }
  header {
    padding: 0 20px;
  }
  .container-content-blog {
    padding: 0 20px;
  }
  .nav-content {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: var(--primary);
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #nav_check:checked ~ .nav-content {
    left: 0;
  }
  #nav_check:checked ~ .logo {
    display: none;
  }
  .profile {
    display: block;
  }
  .profile img {
    width: 30px;
  }
  .nav-content .logo {
    display: flex;
    height: 70px;
    align-items: center;
    margin-left: 30px;
  }
  .nav-content ul {
    padding: 0 20px;
    margin-top: 30px;
    display: block;
  }
  .nav-content ul li {
    width: 100%;
    display: block;
    align-items: center;
  }
  .nav-content ul li .costum-profile-menu {
    display: none;
  }
  .nav-content ul li .nav-link-custom {
    display: block;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    color: var(--font);
  }
  .hambur {
    display: block;
  }
}
