/* responsive  */
@media (max-width: 480px) {
  .container-cssdw {
    padding: 15px;
  }
  .img-login {
    max-width: 100%;
  }
  nav {
    width: 230px;
  }
  header {
    padding: 0 20px;
  }
  .container-content-blog {
    padding: 0 20px;
  }
  .description-post {
    display: none;
  }
  .action-dwad {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--font);
    padding: 5px 7px;
  }
  .action-dw svg {
    font-size: 13px;
  }
  .action-dw span {
    font-size: 10px;
  }
  .image-post {
    height: 100px;
  }
  .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    margin: 0 0;
    min-width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }
}

@media (min-width: 480px) and (max-width: 575.98px) {
  .image-post {
    height: 150px;
  }
  .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    margin: 0 0;
    min-width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .image-post {
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .image-post {
    height: 150px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    padding: 0 50px;
  }
  .container-content-blog {
    padding: 0 50px;
  }
  .image-post {
    height: 150px;
  }
}

@media (min-width: 1200px) {
  .image-post {
    height: 150px;
  }
}
